{% extends "base/dashboard.html" %}
{% block content %}
{% load i18n %}
{% load template_filter %}
{% load trainingtags %}
  <div class="container-fluid">

    <div class="alert alert-info">{{ note }}</div>
    {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors.as_text }}</div>
    {% endif %}
    {% if form %}
      <form name="form-control" class="span4 signup-form" method="POST">{% csrf_token %}
        {% for field in form.hidden_fields %}
          {{ field }}
          {% if field.errors %}
            <div class="row">
  		    <div class="col-md-6 col-md-offset-2">
                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
              </div>
            </div>
  		{% endif %}
        {% endfor %}

        {% for field in form.visible_fields %}
  		<div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <b>{{ field.label }}</b>
              </div>
  			<div class="col-md-6">
                {{ field }}
              </div>
          </div>
  		{% if field.errors %}
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
              </div>
            </div>
          {% endif %}
  		</div>
        {% endfor %}

  	  <input type="submit" name="add" class="btn btn-primary" value="Ekle">
  	  <input type="submit" name="cancel" class="btn btn-primary" value="Geri Dön">
      </form>
    {%endif%}
  </div>

{% endblock %}