{% extends "base/dashboard.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<script src="{% static 'training/js/datatable_init.js' %}"></script>

<div class="container-fluid">
<table id="list_table" class="table table-hover table-striped">
	<thead>
	    <tr>
	        <th>{% trans "Application No" %}</th>
	        <th>{% trans "First Name" %}</th>
	        <th>{% trans "Last Name" %}</th>
	        <th>{% trans "Current City" %}</th>
	        <th>{% trans "Tel No" %}</th>
	        <th>{% trans "E-mail" %}</th>
	        <th>{% trans "Gender" %}</th>
	        <th>{% trans "Organisation" %}</th>
	        <th>{% trans "University" %}</th>
	        <th>{% trans "Job" %}</th>
	        <th>{% trans "Accomodation" %}</th>
	        <th>{% trans "TC Identity Number / Foreign Identity Number" %}</th>
	        <th>{% trans "Preference Order" %}</th>
	        <th>{% trans "Course Name" %}</th>
	        <th>{% trans "Is approved" %}</th>
	    </tr>
	</thead>
	<tbody>
	{% for data in datalist %}
		<tr>
			<th>{{data.id}}</th>
			<th>{{data.trainess.user.first_name}}</th>
			<th>{{data.trainess.user.last_name}}</th>
			<th>{{data.trainess.city}}</th>
			<th>{{data.trainess.mobilephonenumber}}</th>
			<th>{{data.trainess.user.email}}</th>
			<th>{{data.trainess.gender}}</th>
			<th>{{data.trainess.organization}}</th>
			<th>{{data.trainess.university}}</th>
			<th>{{data.trainess.job}}</th>
                        <th>
                         {% for pref in data.trainess.useraccomodationpref_set.all %}
                            {% if pref.accomodation.site.is_active %}
                               {{ pref.accomodation }}
                            {% endif %}
                         {% endfor %}
                        </th>
            <th>{{data.trainess.tckimlikno}}{{data.trainess.ykimlikno}}</th>
			<th>{{data.preference_order}}</th>
			<th>{{data.course.name}}</th>
			<th>{{data.approved}}</th>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}

