{% extends "base/dashboard.html" %}
{% block content %}
{% load i18n %}
{% load static %}
{% load template_filter %}


<script src="{% static 'training/js/cancel-all.js' %}"></script>

<script type="text/javascript">


function addPreference(preference_limit, target, form){
  	var container = target;
	var selectedCourses =  [];
	target.find('select').each(function(){selectedCourses.push($(this).val());})
  	if (container.find("[data-id='container']").size() >= preference_limit) {
  		 bootbox.alert("Tercih Hakkınız Doldu", function() {});
         return false;
  	}

  	var text = $("#field-row").text();
  	var id = container.find("[data-id='container']").size() + 1;
  	var body = $(text.format(id, id));
  	body.find("button[data-id='remove']").click(function () {
  		$(this).parents("[data-id='container']").remove();
  	});
  	container.append(body);
	var select = body.find('select');
	{% for course in courses %}
		if(selectedCourses.indexOf("{{course.id}}")!=-1){
            {% if course.application_is_open%}
     			select.append("<option value='{{course.id}}' hidden >{{course.name}}</option>");
            {% else %}
     			select.append("<option value='{{course.id}}' hidden disabled>{{course.name}}</option>");
            {% endif %}
		}else{
            {% if course.application_is_open%}
  			    select.append("<option value='{{course.id}}' >{{course.name}}</option>");
            {% else %}
  			    select.append("<option value='{{course.id}}' disabled>{{course.name}}</option>");
            {% endif %}
		}
  	{% endfor %}
    if(preference_limit>"1"){
        select.val(select.find("option:not([hidden]):first").val());
	    select.change(changeFuntion).change();
    }
	form.find("#remove").show();
	{%if may_cancel_all%}
	$("#cancel-all").show();
	{%endif%}
	form.find("#sendPreference").show();

}
var changeFuntion = function(){
		$this = $(this);
		var baseVal = $this.val();
		$("#field-container-form").find("select").find("option").prop("hidden",false);

		var values = $.map( $("select").not(this), function(item, i ) {
  			return $(item).val();
		});
		$(values).each(function(index, val){
			$this.find("option[value='"+val+"']").prop("hidden",true);
		});
		$("#field-container-form").find("select").not($this).each(function(){
			var cur = $(this);
			var val = cur.val();
			cur.find("option[value='"+baseVal+"']").prop("hidden",true);
			if(val === baseVal){
    			cur.val(cur.find("option:not([hidden]):first").val());
			}
		});

}
$(document).ready(function() {
  var PREFERENCE_LIMIT = "{{PREFERENCE_LIMIT}}";
  var ADDITION_PREFERENCE_LIMIT = "{{ADDITION_PREFERENCE_LIMIT}}";
  $("#add-field").click(function (e) {
  	e.preventDefault();
	addPreference(PREFERENCE_LIMIT, $("#field-row-container"), $("#field-container-form"));
	$("#field-container-form").find("select").change();

  });
 

  $("#add-field-for-addition").click(function (e) {
  	e.preventDefault();
	addPreference(ADDITION_PREFERENCE_LIMIT, $("#field-row-for-addition"), $("#field-container-for-addition-form"));
  });


 
  $("#field-container-form").find("#remove").click(function(){
	var container = $("#field-row-container");
	var id = container.find("[data-id='container']").size();
	$("#field-container-form").find("select[id='"+ id +"']").parent().parent().parent().remove();
	if(id=="1"){
		$("#field-container-form").find("#remove").hide();
	    $("#cancel-all").hide();
	}
	$("select").trigger("change");
  });


  $("#field-container-for-addition-form").find("#remove").click(function(){
	var container = $("#field-row-for-addition");
	var id = container.find("[data-id='container']").size();
	$("#field-container-for-addition-form").find("select[id='"+ id +"']").parent().parent().parent().remove();
	if(id=="1"){
		$("#field-container-for-addition-form").find("#remove").hide();
	    $("#cancel-all").hide();
	}
	$("select").trigger("change");
  });

	{% for course_record in course_records %}
        if ("{{course_record.preference_order}}".charAt(0)=="-"){
     		addPreference(ADDITION_PREFERENCE_LIMIT, $("#field-row-for-addition"), $("#field-container-for-addition-form"));
        }else{
     		addPreference(PREFERENCE_LIMIT, $("#field-row-container"), $("#field-container-form"));
        }
		var container = $("#field-row-container");
        if ("{{course_record.preference_order}}".charAt(0)=="-"){
            container = $("#field-row-for-addition");
        }
		container.find("[data-id='container']").last().find('select').val("{{course_record.course.id}}")
  	{% endfor %}
  {% if closed %}
    $("#field-container-form select").each(function(){$(this).attr("disabled","disabled")});
    $("#field-container-form button").each(function(){$(this).attr("disabled","disabled")});
    if($("#field-container-form select").length == 0){
        $("#field-container-form").hide();
    }
  {% else %}
    $("#field-container-form select").each(function(){$(this).removeAttr("disabled")});
    $("#field-container-form button").each(function(){$(this).removeAttr("disabled")});
    $("#field-container-form").show();
  {% endif %}
  {% if additional1_pref_closed %}
    $("#field-container-for-addition-form select").each(function(){$(this).attr("disabled","disabled")});
    $("#field-container-for-addition-form button").each(function(){$(this).attr("disabled","disabled")});
    if($("#field-container-addition-form select").length == 0){
      $("#field-container-for-addition-form").hide();
    }

  {% else %}
    $("#field-container-for-addition-form select").each(function(){$(this).removeAttr("disabled")});
    $("#field-container-for-addition-form button").each(function(){$(this).removeAttr("disabled")});
    $("#field-container-for-addition-form").show();
  {%endif %}
 
  $("#closed-courses").html("");
  $("#open-courses").html("");
  $("#closed-courses").hide();
  $("#open-courses").hide();

  {% if closed%}
      var closedCourses = "<strong>Başvurusu Kapanan Kurslar</strong><ul>";
      var openCourses = "<strong>Başvurularınız:</strong><ul>";
      {% for course in courses %}
        closedCourses += "<li>{{course.name}}</li>";
      {% endfor %}
      {% for record in course_records%}
        openCourses += "<li>{{record.course.name}}</li>";
      {% empty %}
        openCourses += "<li>Başvurunuz bulunmamaktadır</li>"
      {% endfor %}
      closedCourses += "</ul>";
      openCourses += "</ul>";
      $("#closed-courses").html(closedCourses);
      $("#closed-courses").show();
  {% else %}
      var openCourses = "<strong>Tercih Edebileceğiniz Kurslar</strong><ul>";
      {% for course in courses %}
        openCourses += "<li>{{course.name}}</li>";
      {% endfor %}
      openCourses += "</ul>";

  {% endif %}
  $("#open-courses").html(openCourses);
  $("#open-courses").show();

});




</script>


<script id="field-row" type="text/template">
  <div data-id="container" class="m-b-10">
    <label for="{0}" class="col-xs-3 control-label" style="margin-top:10px;">{%trans "Preference"%} {1}:</label>
    <div class="col-xs-8" style="margin-top:10px;">
      <div>
        <select id="{0}"  class="form-control" data-id="field" name="{0}">
	    </select>
      </div>
    </div>
  </div>
</script>
  <div class="container-fluid">

    <div class="alert alert-info">{{ note }}</div>
    {% if may_cancel_all%}
    <button type="button" class="btn btn-danger" id="cancel-all" style="display:none;">Tüm Başvurularımı İptal Et</button>
    {%endif%}
    <div data-id="container" id="open-courses" class="col-xs-8 col-xs-offset-3" style="margin-top:10px;display:none;">
    </div>
<hr>
<form id="field-container-for-addition-form" class="form-horizontal">
  <div class="form-group m-b-5">
    <label class="col-xs-3 control-label"><strong>Kurs Ek Tercihleri</strong></label>
    <div class="col-xs-8">
      <button class="btn btn-primary pull-right" type="button" id="add-field-for-addition"><i class="fa fa-fw fa-plus"></i>
        {% trans "Add Additional Preference"%}
      </button>
    </div>
  </div>
  <div class="form-group" id="field-row-for-addition"></div>
  <div class="form-group m-b-5">
    <div class="col-xs-8 col-xs-offset-3">
      <button class="btn btn-success pull-left" type="submit" name="sendPreference" style="display: none;">
        Ek {% trans "Save My Preferences"%}
      </button>
      <button class="btn btn-danger pull-right" type="button" id="remove" style="display: none;"><i class="fa fa-fw fa-minus"></i>
        Ek {% trans "Remove Preference"%}
      </button>
    </div>
  </div>
</form>




</br></br>
<hr>
</br> 

<form id="field-container-form" class="form-horizontal">
  <div class="form-group m-b-5">
    <label class="col-xs-3 control-label"><strong>{% trans "Course Preferences" %}</strong></label>
    <div class="col-xs-8">
      <button class="btn btn-primary pull-right" type="button" id="add-field"><i class="fa fa-fw fa-plus"></i>
        {% trans "Add Preference"%}
      </button>
    </div>
  </div>

  <div class="form-group" id="field-row-container"></div>
  <div class="form-group m-b-5">
    <div class="col-xs-8 col-xs-offset-3">
      <button class="btn btn-success pull-left" type="submit" id="sendPreference" style="display: none;">
        {% trans "Save My Preferences"%}
      </button>
      <button class="btn btn-danger pull-right" type="button" id="remove" style="display: none;"><i class="fa fa-fw fa-minus"></i>
        {% trans "Remove Preference"%}
      </button>
    </div>
  </div>
  <div class="form-group m-b-5">
    <div class="col-xs-8 col-xs-offset-3">
    </div>
  </div>
</form>
</br>
    <div data-id="container" id="closed-courses" class="col-xs-8 col-xs-offset-3" style="margin-top:10px;display:none;">
    </div>


</div>

{% endblock %}

