{% extends "base/dashboard.html" %}
{% block content %}
{% load i18n %}
{% load static %}
{% load template_filter %}
<script src="{% static 'training/js/confirm_course_preference.js' %}"></script>
        <div class="col-lg-6 col-md-8 col-md-offset-2">
          {%if approve_is_open and trainess_course_record%}
            <div class="panel panel-default course-approved">
          {%else%}
            <div class="panel panel-default">
          {%endif%}
                <div class="panel-heading">
                    <center>
                     <b>{{note}}</b>
                    </center>
                </div>
                {%if trainess_course_record%}
                <div class="panel-body">
                    <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <b>Kurs Adı</b>
                        </div>
                        <div class="col-md-6">
                            {{trainess_course_record.course.name}}
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <b>Kurs No</b>
                        </div>
                        <div class="col-md-6">
                            <a href="{{trainess_course_record.0.course.url}}">{{trainess_course_record.course.no}}</a>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <b>Eğitmenler</b>
                        </div>
                        <div class="col-md-6">
                            {% for t in trainess_course_record.course.trainer.all %}
                                {{t.user}} </br>
                            {% endfor %}

                        </div>
                    </div>
                    {%comment%}
                    <div class="row">
                        <div class="col-md-2">
                            <b>Kabul Mektubu</b>
                        </div>
                        <div class="col-md-6">
			    <a href='{% url 'view_pdf' trainess_course_record.pk %}'>Kabul Mektubu</a>
                        </div>
                    </div>
                    {%endcomment%}
                    </div>
                    {%if approve_is_open%}
                    <div class="form-group">
                        <input id="course_record_id" type="hidden" value="{{trainess_course_record.id}}"/>
                        <div class="col-md-2 col-md-offset-10">
                            <input id="confirm_course_record_button_id" class="btn btn-success" type="button" value="Onayla"/>
                        </div>
                    </div>
                    {%endif%}
                </div>
                {% endif %}
            </div>
         </div>

{% endblock %}

