{% extends "base/dashboard.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<script src="{% static 'training/js/course_table.js' %}"></script>

<div class="container-fluid">
<table data-id="course_table" id="course_table" class="table table-hover table-striped">
	<thead>
	    <tr>
	        <th>{% trans "Course Name" %}</th>
	        <th>{% trans "Description" %}</th>
	    </tr>
	</thead>
	<tbody>
	{% for course in courses %}
		<tr href="{{course.url}}" class="clickableRow">
			<th>{{course.name}}</th>
			<th>{{course.description}}</th>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}

