{% extends "base/dashboard.html" %}
{% load i18n %}
{% block content %}
{% load static %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
  var courseList = [],
      coursePreference1 = [],
      coursePreference2 = [],
      coursePreference3 = [],
      coursePreferenceTotalApply = [],
      coursePreferenceTotalApplyByTrainer = [],
      applicationbywomen = [],
      applicationbymen = [];
  {% for course,course_stat_detail in statistic_by_course.items%}
    courseList.push("{{ course.name }}");
    coursePreference1.push({{ course_stat_detail.1 }});
    coursePreference2.push({{ course_stat_detail.2 }});
    coursePreference3.push({{ course_stat_detail.3 }});
    coursePreferenceTotalApply.push({{ course_stat_detail.total_apply }});
    coursePreferenceTotalApplyByTrainer.push({{ course_stat_detail.total_apply_by_trainer }});
    applicationbywomen.push({{ course_stat_detail.applicationbywomen }});
    applicationbymen.push({{ course_stat_detail.applicationbymen }});
  {% endfor%}

  $(function () {
      $('#statistic-by-course').highcharts({
          chart: {
              type: 'bar',
              height: 2000
          },
          title: {
              text: 'Tercihler'
          },
          xAxis: {
              min: 0,
              max: {{ statistic_by_course |length }},
              categories: courseList,
              title: {
                  text: null
              },
              labels: {
                  overflow: 'justify'
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [
          {
              name: 'Toplam Tercih',
              data: coursePreferenceTotalApply,
              visible: false
          }, {
              name: 'Toplam Kabul',
              data: coursePreferenceTotalApplyByTrainer,
              visible: false
          },
          {
              name: 'Kadın (Başvuru)',
              data: applicationbywomen,
              visible: false
          },
          {
              name: 'Erkek (Başvuru)',
              data: applicationbymen,
              visible: false
          },
          {
              name: '1. Tercih',
              data: coursePreference1
          },
          {
              name: '2. Tercih',
              data: coursePreference2,
              visible: false
          },
           {
              name: '3. Tercih',
              data: coursePreference3,
              visible: false
          },
          ]
  });
  });


  universityList = [];
  userSize = [];
  {% for item in statistic_by_university %}
    universityList.push("{{ item.trainess__university }}");
    userSize.push({{ item.trainess__id__count }});
  {% endfor%}
  $(function () {
      $('#statistic-by-university').highcharts({
          chart: {
              type: 'bar',
              height: 2000
          },
          title: {
              text: 'Üniversite/Katılım'
          },
          xAxis: {
              categories: universityList,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: userSize
          }]
      });
  });




  universityListForApproved = [];
  userSizeForApproved = [];
  {% for item in statistic_by_university_for_approved%}
    universityListForApproved.push("{{ item.trainess__university }}");
    userSizeForApproved.push({{ item.trainess__id__count }});
  {% endfor%}
  $(function () {
      $('#statistic-by-university-for-approved').highcharts({
          chart: {
              type: 'bar',
              height: 2000
          },
          title: {
              text: 'Üniversite/Katılım(Kabul Edilenler)'
          },
          xAxis: {
              categories: universityList,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: userSizeForApproved
          }]
      });
  });



  cityList = [];
  cityStatisticUserSize = [];
  {% for item in statistic_by_city %}
    cityList.push("{{ item.trainess__city }}");
    cityStatisticUserSize.push({{ item.trainess__id__count }});
  {% endfor%}
  $(function () {
      $('#statistic-by-city').highcharts({
          chart: {
              type: 'bar',
              height: 2000
          },
          title: {
              text: 'Şehir/Katılım'
          },
          xAxis: {
              categories: cityList,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: cityStatisticUserSize
          }]
      });
  });




  cityListForApproved = [];
  cityStatisticUserSizeForApproved = [];
  {% for item in statistic_by_city_for_approved%}
    cityListForApproved.push("{{ item.trainess__university }}");
    cityStatisticUserSizeForApproved.push({{ item.trainess__id__count }});
  {% endfor%}
  $(function () {
      $('#statistic-by-city-for-approved').highcharts({
          chart: {
              type: 'bar',
              height: 2000
          },
          title: {
              text: 'Şehir/Katılım(Kabul Edilenler)'
          },
          xAxis: {
              categories: cityListForApproved,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: cityStatisticUserSizeForApproved
          }]
      });
  });






  var totalStatText = [];
  var totalStatValue = [];
 
  {% for item,value in statistic_by_totalsize.items%}
    totalStatText.push("{{item}}");
    totalStatValue.push({{value}});
  {% endfor%}
  $(function () {
      $('#statistic_by_totalsize').highcharts({
          chart: {
              type: 'bar',
              height: 300
          },
          title: {
              text: 'Toplam Kişi ve Tercih Sayısı'
          },
          xAxis: {
              categories: totalStatText,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: totalStatValue
          }]
      });
  });
  




   var genderStatistic = [{'name':'K', 'y':{{ statistic_by_gender_k }}},{'name':'E', 'y':{{ statistic_by_gender_e }}}];

   $('#statistic-by-gender').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Kadın/Erkek Dağılımı(Başvuranlar)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Gender',
                colorByPoint: true,
                data: genderStatistic
            }]
        });




   genderStatisticForApproved = [{'name':'K', 'y':{{ statistic_by_gender_k_approved }}},{'name':'E', 'y':{{ statistic_by_gender_e_approved }}}];

   $('#statistic-by-gender-for-approved').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Kadın/Erkek Dağılımı (Kabul Edilenler)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Gender',
                colorByPoint: true,
                data: genderStatisticForApproved
            }]
        });

});
  
</script>
<br>
<br>
    <div class="row">
        <div class="column col-md-6">
            <div class="row">
                <div id="statistic_by_totalsize" class="column col-md-8"></div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div id="statistic-by-gender" class="column col-md-6"></div>
            </div>
            <br>
            <br>
            {% if statistic_by_gender_k_approved or statistic_by_gender_e_approved%}
            <div class="row">
                <div id="statistic-by-gender-for-approved" class="column col-md-6"></div>
            </div>
            {% endif %}
        </div>
        <div class="column col-md-6">
            <div id="statistic-by-course"></div>
        </div>
    </div>
<br>
<br>
<br>
<div class="row">
    <div id="statistic-by-university" class="column col-md-6"></div>
    <div id="statistic-by-city" class="column col-md-6"></div>
</div>
<br>
<br>
<div class="row">
    {% if statistic_by_university_for_approved %}
         <div id="statistic-by-university-for-approved" class="column col-md-6"></div>
     {% endif %}
    {% if statistic_by_city_for_approved %}
        <div id="statistic-by-city-for-approved" class="column col-md-6"></div>
    {% endif %}
</div>
<br>
<br>
{%endblock%}
