{% extends "base/dashboard.html" %}
{% block head %}
<script type="text/javascript">
$(document).ready(function(){
	var count=0;
	$('#addinst').click(function(){
    	console.log("dneme");
		count+=1;
		if (count==1){
			{% for f0 in forms.0 %}
			{% spaceless %}
				$('#coursetable tr:last').after('{{ f0.as_table }}');
			{% endspaceless %}
			{% endfor %}
		}
		if (count==2){
			{% for f1 in forms.1 %}
			{% spaceless %}
	            $('#coursetable tr:last').after('{{ f1.as_table }}');
			{% endspaceless %}
            {% endfor %}
        }
		if (count==3){
			{% for f2 in forms.2 %}
			{% spaceless %}
            	$('#coursetable tr:last').after('{{ f2.as_table }}');
			{% endspaceless %}
            {% endfor %}
        }
	});
});
</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
		<div class="alert alert-info" style="width:30%">{{ note }}</div>
		<h3>Kurs Onerisi</h3>
		{% for f in form.hidden_fields  %}
			{% if f.errors %}
                     <div class="row">
                         <div class="col-md-6 col-md-offset-2">
                             <span class="label label-danger">{{ f.label }}: {{ f.errors|striptags }}</span>
                        </div>
                    </div>
                {% endif %}
		{% endfor %}
        <form name="form-control" class="span4 signup-form" enctype="multipart/form-data" method="POST">{% csrf_token %}
			{% for field in form.visible_fields %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <b>{{ field.label }}</b>
                        </div>
                        <div class="col-md-6">
                            {{ field }}
                        </div>
                    </div>

                {% if field.errors %}
                     <div class="row">
                         <div class="col-md-6 col-md-offset-2">
                             <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                        </div>
                    </div>
                {% endif %}
                </div>
            {% endfor %} 
		     <h3>Egitimci Bilgileri</h3>
		     {% for field in curinstprofform.visible_fields %}
             	<div class="form-group">
             		<div class="row">
             			<div class="col-md-2">
                 			<b>{{ field.label }}</b>
             			</div>
             			<div class="col-md-6">
                 			{{ field }}
             			</div>
             		</div>

	   	      	{% if field.errors %}
       	         	 <div class="row">
       	             	 <div class="col-md-6 col-md-offset-2">
       	                 	 <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
       	              	</div>
       	          	</div>
       	      	{% endif %}
		     	</div>
       	   	{% endfor %}	
            <table id="coursetable">
				<tr><td>Egitimci ekle <button type="button" class="btn btn-default btn-sm" id="addinst"><span class="glyphicon glyphicon-plus"></span></button></td></tr>
			</table>
            <input type="submit" name="submit" class="btn" value="Submit">
        </form>
</div>

{% endblock %}
