*.pyc
abkayit/logfile*
abkayit/documents/*
.project
.pydevproject
.settings/
*/__init__.py
abkayit/abkayit/migrations/*
abkayit/training/migrations/*
abkayit/userprofile/migrations/*
abkayit/mailing/migrations/*
abkayit/surman/migrations/*
abkayit/static/images/*
abkayit/abkayit/settings.py
abkayit/egitmenler
abkayit/kurslar
venv
.idea
media/
