*.py[cod]
abkayit/logfile*
abkayit/documents/*
.project
.pydevproject
.settings/
*/__init__.py
abkayit/staticfiles/
abkayit/abkayit/settings.py
abkayit/egitmenler
abkayit/kurslar
venv
.idea
media/
abkayit/geribildirim.csv
abkayit/keys.txt
.env
abkayit/.well-known/
abkayit/onayla.py
abkayit/mektuplar/
abkayit/oldlogs.tar.gz
