*.py[cod]
abkayit/logfile*
abkayit/documents/*
.project
.pydevproject
.settings/
*/__init__.py
abkayit/abkayit/migrations/*
abkayit/training/migrations/*
abkayit/userprofile/migrations/*
abkayit/mailing/migrations/*
abkayit/surman/migrations/*
abkayit/staticfiles/
abkayit/abkayit/settings.py
abkayit/egitmenler
abkayit/kurslar
venv
.idea
media/
abkayit/geribildirim.csv
abkayit/keys.txt
.env
