soap2py
django==1.8.13
psycopg2
django-ckeditor
django-countries
pysimplesoap
django-longerusernameandemail
Pillow
python-crontab
django-cities-light==3.3.0
django-bootstrap3
pytz
git+http://github.com/Cediddi/django-extensions.git
