{% extends "base/dashboard.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}
{% load userprofiletags %}
<script src="{% static 'userprofile/js/datatable_init.js' %}"></script>

<div class="container-fluid">
<table id="list_table" class="table table-hover table-striped">
	<thead>
	    <tr>
	        <th>{% trans "Full Name" %}</th>
	        <th>{% trans "E-mail" %}</th>
	        <th>{% trans "TC Identity Number" %}</th>
	        <th>{% trans "Course Name" %}</th>
	        <th>{% trans "Transportation Type" %}</th>
	        <th>{% trans "Arrival Date" %}</th>
	        <th>{% trans "Departure Date" %}</th>
	        <th>{% trans "Additional Info" %}</th>
	    </tr>
	</thead>
	<tbody>
	{% for trainer in trainers %}
		<tr>
			<td>{{trainer.user.first_name}} {{trainer.user.last_name}}</td>
			<td>{{trainer.user.email}}</td>
            <td>{{trainer.tckimlikno}}</td>
            <td>
                {% for c in trainer.trainer.all %}
                    <span>&nbsp;</span>
			        {{ c }}
                    <span>&nbsp;</span>
                {% endfor %}
            </td>
			{% getinstinfo trainer request.site %}
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}

