{% extends "base/dashboard.html" %}
{% load i18n %}
{% block content %}
<div class="container-fluid">

<div class="alert alert-info">{{ note }}</div>


<form name="form-control" class="span4 signup-form" method="POST">{% csrf_token %}
    
		<div class="form-group">
			<div class="row">
				<div class="col-md-2">
		      		<b>{%trans "Email"%}</b>
				</div>
				<div class="col-md-6">
					<input class="form-control" id="id_email" maxlength="128" name="email" placeholder="{%trans 'Email' %}" type="text">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
		      		<b>SMS ile parola sıfırla</b>
				</div>
				<div class="col-md-2">
					<input id="sms" maxlength="128" name="issms" type="checkbox">
				</div>


			</div>
			
		</div>
    
	<input type="submit" name="create" class="btn btn-primary" value="{% trans 'Reset Password' %}">
</form>


{% endblock %}
