{% extends "base/dashboard.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
{% load userprofiletags %}
    <script src="{% static 'userprofile/vendor/js/textcounter.js' %}"></script>
    <script src="{% static 'userprofile/js/courses.js' %}"></script>
    <link href="{% static 'userprofile/css/courses.css' %}" rel="stylesheet" type="text/css"/>
<form name="form-control" class="span4 signup-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="container-fluid">
    <div class="alert alert-info">{{ note }}</div>
    {% if tuser %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header width-border">
                    <h3 class=box-title">Kullanıcı Bilgileri</h3>
                </div>

                <dl class="dl-horizontal">
                    <dt>Profil Foto:</dt><dd><img src="{{ tuser.profilephoto.url }}" style="width: 200px; heigth:200px;border:5px solid #000000;"></dd>
                    <dt>Adı Soyadı:</dt><dd>{{ tuser.user.first_name }} {{ tuser.user.last_name }}</dd>
                    <dt>E-posta:</dt><dd>{{ tuser.user.username }}</dd>
                    <dt>Şehir:</dt><dd>{{ tuser.city }}</dd>
                    <dt>İş:</dt><dd>{{ tuser.job }}</dd>
                    <dt>Doğum Tarihi:</dt><dd>{{ tuser.birthdate }}</dd>
                    <dt>Cinsiyet:</dt><dd>{{ tuser.gender }}</dd>
                    <dt>Ünvan:</dt><dd>{{ tuser.title }}</dd>
                    <dt>Kurum:</dt><dd>{{ tuser.organization }}</dd>
                    <dt>Üniversite:</dt><dd>{{ tuser.university }}</dd>
                    <dt>Bölüm:</dt><dd>{{ tuser.department }}</dd>
                    <dt>Seçtiği kurslar:</dt>
                    <dd>
                        {% for tcr in tuser.trainesscourserecord_set.all%}
                            {% if tcr.course.site.is_active %}
                                {% if tcr.approved %}
                                 <div> {{ tcr.preference_order }}. tercihi - {{tcr.course.name}} ({{tcr.course.no}}) Onaylanmış </br></div>
                                {% else %}
                                  <div> {{ tcr.preference_order }}. tercihi - {{tcr.course.name}} ({{tcr.course.no}})</br></div>
                                {% endif %}
                            {% endif %}
                        {%endfor%}
                    </dd>
                    <dt>Etkinlik geçmişi: </dt>
                    <dd>
                        <h4>Notlar:</h4>
                        <p>
                        {% for journal in tuser.note_to_profile.all %}
                        <section>
                            <p>{{ journal.site.name }} - {{ journal.site.year }}</p>
                            <ul>
                                <li> <b>Notu ekleyen:</b> {{ journal.note_from_profile.user.first_name }} {{ journal.note_from_profile.user.last_name }} {{ journal.note_from_profile.user.username }}</li>
                                <li> <b>Not:</b><p>{{ journal.note}}</p></li>
                                <li> <b>Tarih:</b><p>{{ journal.note_date }}</p></li>
                            </ul>
                        </section>
                        {% empty %}
                            <p>Bu kullanıcı ile ilgili not girilmemiş</p>
                        {% endfor%}
                        </p>
                        {% oldeventprefs tuser %}

                        </dd>
                    <dt>Not Ekle: </dt>
                    <dd>
                            <p>
                                <textarea id="trainessnotetext" name="trainessnotetext" cols="30" rows="5" maxlength="500" class="form-control input-note"></textarea>
                                <input id="trainessnoteuser" name="trainessnoteuser" type="hidden" class="input-username" value="{{ tuser.user.username }}"/>
                                <input id="savescore" name="savescore" class="btn btn-primary" type="submit" value="Ekle" />
                            </p>
                    </dd>
                    <dt>Etkinlik bazlı Profil</dt>
                    <dd>

                            {% if userprofilebysiteform %}
                                {% for field in userprofilebysiteform.hidden_fields %}
                                {{ field }}
                                {% if field.errors %}
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-2">
                                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}

                            {% for field in userprofilebysiteform.visible_fields %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <b>{{ field.label }}</b>
                                        {% if field.field.required %}
                                        <span class="required"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {{ field }}
                                    </div>
                                </div>
                                {% if field.help_text%}
                                <span class="helptext">{{field.help_text}}</span>
                                {%endif%}
                                {% if field.errors %}
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-2">
                                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <input type="submit" name="savesitebasedprofile" id="savesitebasedprofile" class="btn btn-primary" value="{% trans 'Save' %}">
                    </dd>
                    {% endif %}
                    {% getanswers tuser ruser courseid as answers%}
                    {% if answers %}
                        <dt>Cevaplar:</dt><dd><section><ul> 
                        {% for answer in answers%}
                          <li> <b>{{ answer.question.detail }}</b> <p>{{ answer.answer }}</p> </li>
                        {% endfor %}
                        </section></ul></dd>
                        {% endif %} 

                </dl>
                {% if tuser.trainesscourserecord_set.all %}
                    {% if ruser.is_staff %}

                       <dl class="dl-horizontal">
                           <dt>İptal sebebi: </dt><dd><input id="trainesscancelnotetext" name="trainesscancelnotetext" type="text" class="form-control input-note" value=""/></dd>
                           <dd><input type="submit" class="btn btn-danger" id="cancelall" name="cancelall" value="Tüm Başvurularını İptal Et"></dd>
                       </dl>
                    {% endif %}
                {% endif %}
                {% if forms %}
                    <dl class="dl-horizontal">
                        {% for form in forms %}
                        <dt> {{form.initial.day}}. gün: </dt>
                        <dd>{{ form }}</dd>
                        {% endfor %}
                        <dd><input type="submit" name="save" id="save" class="btn btn-primary" value="{% trans 'Save' %}"></dd>
                    </dl>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

</div>
</form>


{% endblock %}
