{% extends "base/dashboard.html" %}
{% load i18n %}
{% load userprofiletags %}
{% block head %}
{% load static %}
<script src="{% static 'userprofile/js/userprofile.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="alert alert-info">{{ note }}</div>
    {% if update_user_form %}
        {% if update_user_form.non_field_errors %}
        <div class="alert alert-danger">{{ update_user_form.non_field_errors.as_text }}</div>
        {% endif %}
    {% endif %}
    {% if userproform %}
        {% if userproform.non_field_errors %}
        <div class="alert alert-danger">{{ userproform.non_field_errors.as_text }}</div>
        {% endif %}
    {% endif %}
    <form id="userprofile" name="form-control" class="span4 signup-form" method="POST" enctype="multipart/form-data">{%csrf_token%}
        {% if userproform %}
            <!-- UPDATE USER FORM -->
            {% if update_user_form %}
                {% for field in update_user_form.hidden_fields %}
                    {{ field }}
                    {% if field.errors %}
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% for field in update_user_form.visible_fields %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <b>{{ field.label }}</b>
                        {% if field.field.required %}
                        <span class="required"></span>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ field }}
                    </div>
                </div>

                {% if field.errors %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        {%endif%}
        <!--END USER UPDATE FORM-->
        <!-- START USERPROFILE FORM -->
        {% for field in userproform.hidden_fields %}
            {{ field }}
            {% if field.errors %}
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {% for field in userproform.visible_fields %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <b>{{ field.label }}</b>
                    {% if field.field.required %}
                    <span class="required"></span>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {{ field }}
                </div>
            </div>
            {% if field.help_text%}
            <span class="helptext">{{field.help_text}}</span>
            {%endif%}
            {% if field.errors %}
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% if userproformbysite and request.site.needs_document %}
            {% for field in userproformbysite.hidden_fields %}
                {{ field }}
                {% if field.errors %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            {% for field in userproformbysite.visible_fields %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <b>{{ field.label }}</b>
                        {% if field.field.required %}
                        <span class="required"></span>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ field }}
                    </div>
                </div>
                {% if field.help_text%}
                <span class="helptext">{{field.help_text}}</span>
                {%endif%}
                {% if field.errors %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
        {% if sitewidequestions %}
            {% for sitewidequestion in sitewidequestions %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <b>{{ sitewidequestion.detail }}</b>

                    </div>
                    <div class="col-md-6">
                        <textarea class="form-control" name="answer{{ sitewidequestion.pk }}" rows="4" cols="50"
                                  maxlength="2000">{% getanswer sitewidequestion user %}</textarea>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if accomodations %}
            <div class="form-group">
                <div class="row col-xs-8 col-md-12 col-sm-12 control-label">
                    <strong>{% trans "Accomodation Preferences" %}</strong>
                </div>
            </div>
                <div data-id="container" class="row col-xs-12">
                    <label for="tercih1" class="col-xs-2" style="margin-top:10px;">{%trans "Preference"%} 1:</label>
                    <div class="col-xs-10" style="margin-top:10px;">
                        <div>

                            <select id="tercih1" class="form-control" data-id="field" name="tercih1">
                                {% for acc in accomodations %}
                                    {% if accomodation_records.0 and accomodation_records.0.accomodation.pk == acc.pk %}
                                    <option value='{{ accomodation_records.0.accomodation.pk }}' selected>{{ accomodation_records.0.accomodation.name }}
                                    </option>
                                    {% else %}
                                    <option value='{{ acc.pk }}'>{{ acc.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            <br/><br/>
        {%endif%}
        <div class="form-group">
            <div class="row">
                <div class="col-xs-10" style="margin-top:10px;">
                    <input type="submit" name="register" id="register" class="btn btn-primary"
                           value="{% trans 'Register' %}">
                    <input type="submit" name="cancel" class="btn btn-primary" value="{% trans 'Cancel'%}">
                </div>
            </div>
        </div>
    </form>
    {%endif%}
    {% endblock %}
