{% extends "dashboard.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
{% load template_filter %}

<script src="{% static "/static/js/courses.js" %}"></script>

<link href="{% static "/static/css/courses.css" %}" rel="stylesheet" type="text/css"></link>
<div class="container-fluid" style="margin-top:20px;">
  <div class="alert alert-info">{{ note }}</div>
  <form name="select-student{{course.id}}" method="POST">{% csrf_token %}
  {% for course,value in trainess.items %}
    {% if not value.trainess1 and not value.trainess2 and not value.trainess3%}
       Görüntülenecek kayıt bulunamadı
    {%endif%}
    {% if value.trainess1 or value.trainess2 or value.trainess3 %}
      <h4> 
      <span class="avaliable-trainee label">Seçim Yapabilirsiniz</span>
      <span class="label checked-trainee-for-another-course">Katılımcının Diğer Tercihi Onaylanmış</span>
      <span class="label checked-trainee-course">Katılımcı Bu Kurs İçin Onaylanmış</span>
      <span class="label approved-trainess-for-this-course">Katılımcı Bu Kursa Geleceğini Teyit Etti</span>
      </h4>
      </br>
      <div>
      <h2><strong>{{ course.name }}</strong></h2> 
      <!-- issue #52 ile kapatildi -->
      <!--Başvurular Açık: <input id="applicationopen-{{course.id}}" data-id="applicationopen" type="checkbox" checked>-->
      </div>
      <script type="text/javascript">
         $(document).ready(function(){
            {% if course.application_is_open %}
              $("#applicationopen-{{course.id}}").prop("checked");
            {% else %} 
              $("#applicationopen-{{course.id}}").removeAttr("checked");
            {%endif%}
         });
      </script>
    {%endif%}
    {% if value.trainess1 %}
      <h3> Birinci tercih </h3>
      <table data-id="course_table_control_panel" id="course_table{{course.id}}" class="table table-hover table-striped" >
        <thead>
          <tr>
            <th>#</th>
            <th>Basvuru No</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-posta</th>
            <th>Sehir</th>
            <th>
                {% if closed_pref_1 == "0"%}
                    Onayla
				{% else %}
					Gelecegini Teyid Etti
                {% endif %}
            </th>
            <th>Ünvan</th>
            <th>Kurum</th>
            <th>Üniversite</th>
            <th>Bölüm</th>
            <th>Ek Bilgiler</th>
            <th>Seçilen Kurslar</th>
            <th>Onaylanma Bilgileri</th>
            <th>Not</th>
            <th>Değerlendirme</th>
          </tr>
        </thead>
        <tbody>
          {% for t in value.trainess1 %}
            <tr>
              <td>
                <a class="clickableRow" >Detay</a>
              </td>
              <td>{{ t.pk }}</td>
              <td>{{ t.trainess.user.first_name }}</td>
              <td>{{ t.trainess.user.last_name }}</td>
              <td>{{ t.trainess.user.email }}</td>
              <td>{{ t.trainess.city }}</td>
              <td>
                {% for tcr in t.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                    {%if tcr.approved %}
                          <div class="checked-for-another-course"></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
                {%if t.trainess_approved %}
                          <div class="approved-trainess-for-this-course"></div>
                {% endif%}    
                {%if t.approved %}
                          <div class="checked-trainee-course"></div>
                {% endif%}    
                {% if closed_pref_1 == "0"%}
                    <div class="checkbox">
                      {%if t.approved%}
                        <input type="checkbox" checked name="students{{course.id}}" value="{{ t.pk }}"/>
                      {% else %}
                        <input type="checkbox" name="students{{course.id}}" value="{{ t.pk }}"/>
                      {% endif %}
                    </div>
				{%else%}
				   	{% if t.trainess_approved %}
						Evet
					{% else %}
						Hayir
					{% endif %}
                {% endif %}
              </td>
              <td>{{ t.trainess.title }}</td>
              <td>{{ t.trainess.organization }}</td>
              <td>{{ t.trainess.university }}</td>
              <td>{{ t.trainess.department }}</td>
              <td>{{ t.trainess.additional_information }}</td>
              <td>
                {% for tcr in t.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                      <div> - {{tcr.course.name}} ({{tcr.course.no}}) </br></div>
                  {% endif%}
                {%endfor%}

              </td>
              <td>
                {% for tcr in t.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                    {%if tcr.approved %}
                          <div class="checked-for-another-course">Kursiyerin seçtiği {{tcr.course.name}} kursu onaylanmış</br></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
              </td>
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-1">Not</div>
                      <div class="col-md-6"> 
                          <input type="text" class="form-control input-note" value="{{ t.trainess.note_to_profile.first.note }}"/>
                          <input type="hidden" class="input-username" value="{{ t.trainess.user.username }}"/>
                      </div>
                  {% endif%}
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-1">Durum</div>
                      <div class="col-md-6">
                      <select class="form-control select-score">
                          {%for t_score in  TRAINESS_SCORE %} 
                              {%if t.trainess.score == t_score.0%}
                                  <option selected value="{{t_score.0}}">{{t_score.1}}</option> 
                              {% else%}
                                  <option value="{{t_score.0}}">{{t_score.1}}</option> 
                              {% endif%}
                          {%endfor%}
                       </select>
                      </div>
                  {% endif%}
              </td>
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-2"><input id="save-score" type="button" value="Kaydet"/></div>
                  {% endif%}
              </td>
            </tr>
            {% empty %}
              <tr><td>Goruntulenecek basvuru yok</td></tr>
             {% endfor %}
         </tbody>
      </table>
    {% endif %}

    {% if value.trainess2 %}
      <h3> İkinci Tercih </h3>
      <table data-id="course_table_control_panel" id="course_table2{{course.id}}" class="table table-hover table-striped" >
        <thead>
          <tr>
            <th>#</th>
            <th>Basvuru No</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-posta</th>
            <th>Sehir</th>
            <th>
                {% if closed_pref_2 == "0"%}
                    Onayla
				{% else %}
					Gelecegini Teyid Etti
                {% endif %}
            </th>
            <th>Ünvan</th>
            <th>Kurum</th>
            <th>Üniversite</th>
            <th>Bölüm</th>
            <th>Ek Bilgiler</th>
            <th>Seçilen Kurslar</th>
            <th>Onaylanma Bilgileri</th>
            <th>Not</th>
            <th>Değerlendirme</th>
          </tr>
        </thead>
        <tbody>
          {% for t2 in value.trainess2 %}
            <tr>
              <td>
                <a class="clickableRow">Detay</a>
              </td>
              <td>{{ t2.pk }}</td>
              <td>{{ t2.trainess.user.first_name }}</td>
              <td>{{ t2.trainess.user.last_name }}</td>
              <td>{{ t2.trainess.user.email }}</td>
              <td>{{ t2.trainess.city }}</td>
              <td>
                {% for tcr in t2.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                    {%if tcr.approved %}
                          <div class="checked-for-another-course"></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
                {%if t2.trainess_approved %}
                          <div class="approved-trainess-for-this-course"></div>
                {% endif%}    
                {%if t2.approved %}
                          <div class="checked-trainee-course"></div>
                {% endif%}    
                {% if closed_pref_2 == "0"%}
                    <div class="checkbox">
                      {%if t2.approved %}
                        <input type="checkbox" checked name="students{{course.id}}" value="{{ t2.pk }}"/>
                      {% else %}
                        <input type="checkbox" name="students{{course.id}}" value="{{ t2.pk }}"/>
                      {% endif %}
                    </div>
				{%else%}
				   	{% if t2.trainess_approved %}
						Evet
					{% else %}
						Hayir
					{% endif %}
                {% endif %}
              </td>
              <td>{{ t2.trainess.title }}</td>
              <td>{{ t2.trainess.organization }}</td>
              <td>{{ t2.trainess.university }}</td>
              <td>{{ t2.trainess.department }}</td>
              <td>{{ t2.trainess.additional_information }}</td>
              <td>
                {% for tcr in t2.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                      <div> - {{tcr.course.name}} ({{tcr.course.no}}) </br></div>
                  {% endif%}
                {%endfor%}

              </td>
              <td>
                {% for tcr in t2.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                    {%if tcr.approved %}
                          <div class="checked-for-another-course">Kursiyerin seçtiği {{tcr.course.name}} kursu onaylanmış</br></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
              </td>
              <td> 
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-1">Not</div>
                      <div class="col-md-6">
                          <input type="text" class="form-control input-note" value="{{ t2.trainess.note_to_profile.first.note }}"/>
                          <input type="hidden" class="input-username" value="{{ t2.trainess.user.username }}"/>
                      </div>
                  {% endif%}
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-1">Durum</div>
                      <div class="col-md-6">
                      <select class="form-control select-score">
                          {%for t_score in  TRAINESS_SCORE %} 
                              {%if t2.trainess.score == t_score.0%}
                                  <option selected value="{{t_score.0}}">{{t_score.1}}</option> 
                              {% else%}
                                  <option value="{{t_score.0}}">{{t_score.1}}</option> 
                              {% endif%}
                          {%endfor%}
                       </select>
                      </div>
                  {% endif%}
              </td>
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-2"><input id="save-score" type="button" value="Kaydet"/></div>
                  {% endif%}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if value.trainess3 %}
      <h3> Üçüncü Tercih </h3>
      <table data-id="course_table_control_panel" id="course_table3{{course.id}}" class="table table-hover table-striped" >
        <thead>
          <tr>
            <th>#</th>
            <th>Basvuru No</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-posta</th>
            <th>Sehir</th>
            <th>
                {% if closed_pref_3 == "0"%}
                    Onayla
				{% else %}
					Gelecegini Teyid Etti
                {% endif %}
            </th>
            <th>Ünvan</th>
            <th>Kurum</th>
            <th>Üniversite</th>
            <th>Bölüm</th>
            <th>Ek Bilgiler</th>
            <th>Seçilen Kurslar</th>
            <th>Onaylanma Bilgileri</th>
            <th>Not</th>
            <th>Değerlendirme</th>
          </tr>
        </thead>
        <tbody>
          {% for t3 in value.trainess3 %}
            <tr>
              <td>
                <a class="clickableRow">Detay</a>
              </td>
              <td>{{ t3.pk}}</td>
              <td>{{ t3.trainess.user.first_name }}</td>
              <td>{{ t3.trainess.user.last_name }}</td>
              <td>{{ t3.trainess.user.email }}</td>
              <td>{{ t3.trainess.city }}</td>
              <td>
                {% for tcr in t3.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                    {%if tcr.approved %}
                          <div class="checked-for-another-course"></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
                {%if t3.trainess_approved %}
                          <div class="approved-trainess-for-this-course"></div>
                {% endif%}    
                {%if t3.approved %}
                          <div class="checked-trainee-course"></div>
                {% endif%}    
                {% if closed_pref_3 == "0"%}
                    <div class="checkbox">
                      {%if t3.approved %}
                        <input type="checkbox" checked name="students{{course.id}}" value="{{ t3.pk }}"/>
                      {% else %}
                        <input type="checkbox" name="students{{course.id}}" value="{{ t3.pk }}"/>
                      {% endif %}
                    </div>
				{%else%}
				   	{% if t3.trainess_approved %}
						Evet
					{% else %}
						Hayir
					{% endif %}
                {% endif %}
              </td>
              <td>{{ t3.trainess.title }}</td>
              <td>{{ t3.trainess.organization }}</td>
              <td>{{ t3.trainess.university }}</td>
              <td>{{ t3.trainess.department }}</td>
              <td>{{ t3.trainess.additional_information }}</td>
              <td>
                {% for tcr in t3.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                      <div> - {{tcr.course.name}} ({{tcr.course.no}}) </br></div>
                  {% endif%}
                {%endfor%}

              </td>
              <td>
                {% for tcr in t3.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                    {%if tcr.approved %}
                          <div class="checked-for-another-course">Kursiyerin seçtiği {{tcr.course.name}} kursu onaylanmış</br></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
              </td>
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-1">Not</div>
                      <div class="col-md-6">
                          <input type="text" class="form-control input-note" value="{{ t3.trainess.note_to_profile.first.note }}"/>
                          <input type="hidden" class="input-username" value="{{ t3.trainess.user.username }}"/>
                      </div>
                  {% endif%}
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-1">Durum</div>
                      <div class="col-md-6">
                      <select class="form-control select-score">
                          {%for t_score in  TRAINESS_SCORE %} 
                              {%if t3.trainess.score == t_score.0%}
                                  <option selected value="{{t_score.0}}">{{t_score.1}}</option> 
                              {% else%}
                                  <option value="{{t_score.0}}">{{t_score.1}}</option> 
                              {% endif%}
                          {%endfor%}
                       </select>
                      </div>
                  {% endif%}
              </td>
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-2"><input id="save-score" type="button" value="Kaydet"/></div>
                  {% endif%}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
 




    {% if value.trainess_addition_1 %}
      <h3> İkinci Tercih </h3>
      <table data-id="course_table_control_panel" id="course_table4{{course.id}}" class="table table-hover table-striped" >
        <thead>
          <tr>
            <th>#</th>
            <th>Basvuru No</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-posta</th>
            <th>Sehir</th>
            <th>
                {% if closed_pref_addition1 == "0"%}
                    Onayla
				{% else %}
					Gelecegini Teyid Etti
                {% endif %}
            </th>
            <th>Ünvan</th>
            <th>Kurum</th>
            <th>Üniversite</th>
            <th>Bölüm</th>
            <th>Ek Bilgiler</th>
            <th>Seçilen Kurslar</th>
            <th>Onaylanma Bilgileri</th>
            <th>Not</th>
            <th>Değerlendirme</th>
          </tr>
        </thead>
        <tbody>
          {% for t4 in value.trainess_addition_1 %}
            <tr>
              <td>
                <a class="clickableRow">Detay</a>
              </td>
              <td>{{ t4.pk }}</td>
              <td>{{ t4.trainess.user.first_name }}</td>
              <td>{{ t4.trainess.user.last_name }}</td>
              <td>{{ t4.trainess.user.email }}</td>
              <td>{{ t4.trainess.city }}</td>
              <td>
                {% for tcr in t4.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                    {%if tcr.approved %}
                          <div class="checked-for-another-course"></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
                {%if t4.trainess_approved %}
                          <div class="approved-trainess-for-this-course"></div>
                {% endif%}    
                {%if t4.approved %}
                          <div class="checked-trainee-course"></div>
                {% endif%}    
                {% if closed_pref_addition1 == "0"%}
                    <div class="checkbox">
                      {%if t4.approved %}
                        <input type="checkbox" checked name="students{{course.id}}" value="{{ t4.pk }}"/>
                      {% else %}
                        <input type="checkbox" name="students{{course.id}}" value="{{ t4.pk }}"/>
                      {% endif %}
                    </div>
				{%else%}
				   	{% if t4.trainess_approved %}
						Evet
					{% else %}
						Hayir
					{% endif %}
                {% endif %}
              </td>
              <td>{{ t4.trainess.title }}</td>
              <td>{{ t4.trainess.organization }}</td>
              <td>{{ t4.trainess.university }}</td>
              <td>{{ t4.trainess.department }}</td>
              <td>{{ t4.trainess.additional_information }}</td>
              <td>
                {% for tcr in t4.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                      <div> - {{tcr.course.name}} ({{tcr.course.no}}) </br></div>
                  {% endif%}
                {%endfor%}

              </td>
              <td>
                {% for tcr in t4.trainess.trainesscourserecord_set.all%}
                 {% if tcr.course.id != course.id %}
                    {%if tcr.approved %}
                          <div class="checked-for-another-course">Kursiyerin seçtiği {{tcr.course.name}} kursu onaylanmış</br></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
              </td>
              <td> 
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-1">Not</div>
                      <div class="col-md-6">
                          <input type="text" class="form-control input-note" value="{{ t4.trainess.note_to_profile.first.note }}"/>
                          <input type="hidden" class="input-username" value="{{ t4.trainess.user.username }}"/>
                      </div>
                  {% endif%}
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-1">Durum</div>
                      <div class="col-md-6">
                      <select class="form-control select-score">
                          {%for t_score in  TRAINESS_SCORE %} 
                              {%if t4.trainess.score == t_score.0%}
                                  <option selected value="{{t_score.0}}">{{t_score.1}}</option> 
                              {% else%}
                                  <option value="{{t_score.0}}">{{t_score.1}}</option> 
                              {% endif%}
                          {%endfor%}
                       </select>
                      </div>
                  {% endif%}
              </td>
              <td>
                  {% if note_edit_closed == "0" %}
                      <div class="col-md-2"><input id="save-score" type="button" value="Kaydet"/></div>
                  {% endif%}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}






   
  {% endfor %}

  {%if closed != "1" %}
      <button type="submit" class="btn btn-default">Gonder</button>
  {% endif %}
  </div>
  </form>
  </br>
  <hr>
  {% endblock %}

