{% extends "dashboard.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
{% load template_filter %}

<script src="{% static "/static/js/courses.js" %}"></script>

<link href="{% static "/static/css/courses.css" %}" rel="stylesheet" type="text/css"></link>

<div class="container-fluid" style="margin-top:20px;">
  <div class="alert alert-info">{{ note }}</div>
  <form name="select-student{{course.id}}" method="POST">{% csrf_token %}
  {% for course,value in trainess.items %}
    {% if value.trainess1 or value.trainess2 or value.trainess3 %}
      <h4> 
      <span class="avaliable-trainee label">Seçim Yapabilirsiniz</span>
      <span class="label checked-trainee-for-another-course">Katılımcının Diğer Tercihi Onaylanmış</span>
      <span class="label checked-trainee-course">Katılımcı Bu Kurs İçin Onaylanmış</span>
      </h4>
      </br>
      <div>
      <h2><strong>{{ course.name }}</strong></h2> 
      Başvurular Açık: <input id="applicationopen-{{course.id}}" data-id="applicationopen" type="checkbox" checked>
      </div>
      <script type="text/javascript">
         $(document).ready(function(){
            {% if course.application_is_open %}
              $("#applicationopen-{{course.id}}").prop("checked");
            {% else %} 
              $("#applicationopen-{{course.id}}").removeAttr("checked");
            {%endif%}
         });
      </script>
    {%endif%}
    {% if value.trainess1 %}
      <h3> Birinci tercih </h3>
      <table data-id="course_table" id="course_table{{course.id}}" class="table table-hover table-striped" >
        <thead>
          <tr>
            <th>#</th>
            <th>Basvuru No</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-posta</th>
            <th>Sehir</th>
            <th>Onayla</th>
          </tr>
        </thead>
        <tbody>
          {% for t in value.trainess1 %}
            <tr>
              <th>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#1detail{{t.trainess.user.pk}}">Detay</a>
                <div id="1detail{{t.trainess.user.pk}}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Title" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t.trainess.title}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Organization" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t.trainess.organization}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Department" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t.trainess.department}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Additional Information" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t.trainess.additional_information}}
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th>{{ t.pk }}</th>
              <th>{{ t.trainess.user.first_name }}</th>
              <th>{{ t.trainess.user.last_name }}</th>
              <th>{{ t.trainess.user.email }}</th>
              <th>{{ t.trainess.city }}</th>
              <th>
                {% for tcr in t.trainess.trainesscourserecord_set.values%}
                  {% if tcr.course_id != course.id %}
                    {%if tcr.approved %}
                      <div class="checked-for-another-course"></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
                <div class="checkbox">
                  {%if t.approved%}
                    <input type="checkbox" checked name="students{{course.id}}" value="{{ t.pk }}"/>
                  {% else %}
                    <input type="checkbox" name="students{{course.id}}" value="{{ t.pk }}"/>
                  {% endif %}
                </div>
              </th>
            </tr>

            {% empty %}
              <tr><th>Goruntulenecek basvuru yok</th></tr>
             {% endfor %}
         </tbody>
      </table>
    {% endif %}

    {% if value.trainess2 %}
      <h3> İkinci Tercih </h3>
      <table data-id="course_table" id="course_table2{{course.id}}" class="table table-hover table-striped" >
        <thead>
          <tr>
            <th>#</th>
            <th>Basvuru No</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-posta</th>
            <th>Sehir</th>
            <th>Onayla</th>
          </tr>
        </thead>
        <tbody>
          {% for t2 in value.trainess2 %}
            <tr>
              <th>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#detail{{t2.trainess.user.pk}}">Detay</a>
                <div id="detail{{t2.trainess.user.pk}}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Title" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t2.trainess.title}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Organization" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t2.trainess.organization}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Department" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t2.trainess.department}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Additional Information" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t2.trainess.additional_information}}
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th>{{ t2.pk }}</th>
              <th>{{ t2.trainess.user.first_name }}</th>
              <th>{{ t2.trainess.user.last_name }}</th>
              <th>{{ t2.trainess.user.email }}</th>
              <th>{{ t2.trainess.city }}</th>
              <th>
                {% for tcr in t.trainess.trainesscourserecord_set.values%}
                  {% if tcr.course_id != course.id %}
                    {%if tcr.approved %}
                      <div class="checked-for-another-course"></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
                <div class="checkbox">
                  {%if t2.approved %}
                    <input type="checkbox" checked name="students{{course.id}}" value="{{ t2.pk }}"/>
                  {% else %}
                    <input type="checkbox" name="students{{course.id}}" value="{{ t2.pk }}"/>
                  {% endif %}
                </div>
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if value.trainess3 %}
      <h3> Üçüncü Tercih </h3>
      <table data-id="course_table" id="course_table3{{course.id}}" class="table table-hover table-striped" >
        <thead>
          <tr>
            <th>#</th>
            <th>Basvuru No</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-posta</th>
            <th>Sehir</th>
            <th>Onayla</th>
          </tr>
        </thead>
        <tbody>
          {% for t3 in value.trainess3 %}
            <tr>
              <th>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#detail{{t3.trainess.user.pk}}">Detay</a>
                <div id="detail{{t3.trainess.user.pk}}" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Title" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t3.trainess.title}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Organization" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t3.trainess.organization}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Department" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t3.trainess.department}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="title" style="color:red;">{%trans "Additional Information" %}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        {{t3.trainess.additional_information}}
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th>{{ t3.pk}}</th>
              <th>{{ t3.trainess.user.first_name }}</th>
              <th>{{ t3.trainess.user.last_name }}</th>
              <th>{{ t3.trainess.user.email }}</th>
              <th>{{ t3.trainess.city }}</th>
              <th>
                {% for tcr in t.trainess.trainesscourserecord_set.values%}
                  {% if tcr.course_id != course.id %}
                    {%if tcr.approved %}
                      <div class="checked-for-another-course"></div>
                    {% endif%}    
                  {% endif%}
                {%endfor%}
                <div class="checkbox">
                  {%if t3.approved %}
                    <input type="checkbox" checked name="students{{course.id}}" value="{{ t3.pk }}"/>
                  {% else %}
                    <input type="checkbox" name="students{{course.id}}" value="{{ t3.pk }}"/>
                  {% endif %}
                </div>
              </th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    
    {% if value.trainess1 or  value.trainess2 or value.trainess3%}
    {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-default">Gonder</button>
  </div>
  </form>
  </br>
  <hr>
  {% endblock %}

