{% extends "dashboard.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
  courseList = [];
  coursePreference1 = [];
  coursePreference2 = [];
  coursePreference3 = [];
  coursePreference4 = [];
  {% for course,course_stat_detail in statistic_by_course.items%}
    courseList.push("{{course}}");
    var courseStatisticDetail = JSON.parse("{{course_stat_detail}}".replace(/&#39;/g,'"'));
    if(courseStatisticDetail["1"]){
       coursePreference1.push(courseStatisticDetail["1"])
    }else{
       coursePreference1.push(0);
    }
    if(courseStatisticDetail[2]){
       coursePreference2.push(courseStatisticDetail[2])
    }else{
       coursePreference2.push(0);
    }
    if(courseStatisticDetail[3]){
       coursePreference3.push(courseStatisticDetail[3])
    }else{
       coursePreference3.push(0);
    }
    if(courseStatisticDetail[-1]){
       coursePreference4.push(courseStatisticDetail[-1])
    }else{
       coursePreference4.push(0);
    }
  {% endfor%}

  $(function () {
      $('#statistic-by-course').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Tercihler'
          },
          xAxis: {
              categories: courseList,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: '1. Tercih',
              data: coursePreference1
          }, {
              name: '2. Tercih',
              data: coursePreference2
          }, {
              name: '3. Tercih',
              data: coursePreference3
          }, {
              name: '4. Tercih',
              data: coursePreference4
          }]
      });
  });





  var appliedCourseText = [];
  var appliedCourseValue = [];
  {% for course in statistic_by_course_for_apply %}
  appliedCourseText.push("{{course.course__name}}");
  appliedCourseValue.push({{course.count}});
  {% endfor%}
  $(function () {
      $('#statistic-by-course-for-apply').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Kurs Dağılımı - Teyit Edenler'
          },
          xAxis: {
              categories: appliedCourseText,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: appliedCourseValue
          }]
      });
  });





  universityList = [];
  userSize = [];
  {% for item in statistic_by_university%}
    universityList.push("{{item.university}}");
    userSize.push({{item.university__count}});
  {% endfor%}
  $(function () {
      $('#statistic-by-university').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Üniversite/Katılım'
          },
          xAxis: {
              categories: universityList,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: userSize
          }]
      });
  });







  universityListForApproved = [];
  userSizeForApproved = [];
  {% for item in statistic_by_university_for_approved%}
    universityListForApproved.push("{{item.university}}");
    userSizeForApproved.push({{item.university__count}});
  {% endfor%}
  $(function () {
      $('#statistic-by-university-for-approved').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Üniversite/Katılım(Teyit Edenler)'
          },
          xAxis: {
              categories: universityListForApproved,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: userSizeForApproved
          }]
      });
  });







  var totalStatText = [];
  var totalStatValue = [];
 
  {% for item,value in statistic_by_totalsize.items%}
    totalStatText.push("{{item}}");
    totalStatValue.push({{value}});
  {% endfor%}
  $(function () {
      $('#statistic_by_totalsize').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Toplam Kişi ve Tercih Sayısı'
          },
          xAxis: {
              categories: totalStatText,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: totalStatValue
          }]
      });
  });
  




   var genderStatistic = [];

  {% for gender_stat in statistic_by_gender %}
    var temp = {};
    {%for key,value in gender_stat.items%} 
       if("{{key}}" == "gender"){
         temp['name'] = "{{value}}";
       }else{
         temp['y'] = parseInt("{{value}}");
       }
    {%endfor%}
       genderStatistic.push(temp);
  {% endfor%}
   $('#statistic-by-gender').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Kadın/Erkek Dağılımı(Başvuranlar)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Gender',
                colorByPoint: true,
                data: genderStatistic
            }]
        });









   var genderStatisticForApproved = [];

  {% for gender_stat in statistic_by_gender_for_approved %}
    var temp = {};
    {%for key,value in gender_stat.items%} 
       if("{{key}}" == "gender"){
         temp['name'] = "{{value}}";
       }else{
         temp['y'] = parseInt("{{value}}");
       }
    {%endfor%}
       genderStatisticForApproved.push(temp);
  {% endfor%}
   $('#statistic-by-gender-for-approved').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Kadın/Erkek Dağılımı(Teyit Edenler)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Gender',
                colorByPoint: true,
                data: genderStatisticForApproved
            }]
        });







});
  
</script>

<div id="statistic-by-course" style="min-width: 360px; max-width: 800px; height: 2000px; margin: 0 auto"></div>

</br>
</br>
</br>
<div id="statistic-by-course-for-apply" style="min-width: 360px; max-width: 800px; height: 1000px; margin: 0 auto"></div>

</br>
</br>
</br>
<div class="row">
<div id="statistic-by-university" class="pull-left" style="min-width: 360px; max-width: 500px; height: 2000px; margin: 0 auto"></div>
<div id="statistic-by-university-for-approved" class="pull-right" style="min-width: 360px; max-width: 500px; height: 2000px; margin: 0 auto"></div>
</div>
</br>
</br>
</br>
<div id="statistic_by_totalsize" style="min-width: 360px; max-width: 800px; height: 300px; margin: 0 auto"></div>

</br>
</br>
</br>
<div class="row">
<div id="statistic-by-gender" class="pull-left" style="min-width: 310px; height: 400px; max-width: 400px; margin: 0 auto"></div>
<div id="statistic-by-gender-for-approved" class="pull-right" style="min-width: 310px; height: 400px; max-width: 400px; margin: 0 auto"></div>
</div>

{%endblock%}
