{% extends "dashboard.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
  courseList = []
  coursePreference1 = [];
  coursePreference2 = [];
  coursePreference3 = [];
  coursePreferenceTotalApply = [];
  coursePreferenceTotalApplyByTrainer = [];
  applicationbywomen = []
  applicationbymen = []
  {% for course,course_stat_detail in statistic_by_course.items%}
    courseList.push("{{ course.name }}")
    coursePreference1.push({{ course_stat_detail.1 }});
    coursePreference2.push({{ course_stat_detail.2 }});
    coursePreference3.push({{ course_stat_detail.3 }});
    coursePreferenceTotalApply.push({{ course_stat_detail.total_apply }});
    coursePreferenceTotalApplyByTrainer.push({{ course_stat_detail.total_apply_by_trainer }});
    applicationbywomen.push({{ course_stat_detail.applicationbywomen }});
    applicationbymen.push({{ course_stat_detail.applicationbymen }});
  {% endfor%}

  $(function () {
      $('#statistic-by-course').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Tercihler'
          },
          xAxis: {
              min: 0,
              max: {{ statistic_by_course |length }},
              categories: courseList,
              title: {
                  text: null
              },
              labels: {
                  overflow: 'justify'
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [
          {
              name: 'Toplam Tercih',
              data: coursePreferenceTotalApply
          }, {
              name: 'Toplam Kabul',
              data: coursePreferenceTotalApplyByTrainer
          },
          {
              name: 'Kadın (Başvuru)',
              data: applicationbywomen,
          },
          {
              name: 'Erkek (Başvuru)',
              data: applicationbymen,
          },
          {
              name: '1. Tercih',
              data: coursePreference1,
          },
          {
              name: '2. Tercih',
              data: coursePreference2,
          },
           {
              name: '3. Tercih',
              data: coursePreference3,
          },
          ]
  });
  });


  universityList = [];
  userSize = [];
  {% for item in statistic_by_university %}
    universityList.push("{{ item.0 }}");
    userSize.push({{ item.1 }});
  {% endfor%}
  $(function () {
      $('#statistic-by-university').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Üniversite/Katılım'
          },
          xAxis: {
              categories: universityList,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: userSize
          }]
      });
  });




  universityListForApproved = [];
  userSizeForApproved = [];
  {% for item in statistic_by_university_for_approved%}
    universityListForApproved.push("{{ item.0 }}");
    userSizeForApproved.push({{ item.1 }});
  {% endfor%}
  $(function () {
      $('#statistic-by-university-for-approved').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Üniversite/Katılım(Kabul Edilenler)'
          },
          xAxis: {
              categories: universityList,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: userSizeForApproved
          }]
      });
  });







  var totalStatText = [];
  var totalStatValue = [];
 
  {% for item,value in statistic_by_totalsize.items%}
    totalStatText.push("{{item}}");
    totalStatValue.push({{value}});
  {% endfor%}
  $(function () {
      $('#statistic_by_totalsize').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Toplam Kişi ve Tercih Sayısı'
          },
          xAxis: {
              categories: totalStatText,
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' kişi'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 80,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Katılım',
              data: totalStatValue
          }]
      });
  });
  




   var genderStatistic = [{'name':'K', 'y':{{ statistic_by_gender_k }}},{'name':'E', 'y':{{ statistic_by_gender_e }}}];

   $('#statistic-by-gender').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Kadın/Erkek Dağılımı(Başvuranlar)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Gender',
                colorByPoint: true,
                data: genderStatistic
            }]
        });




   genderStatisticForApproved = [{'name':'K', 'y':{{ statistic_by_gender_k_approved }}},{'name':'E', 'y':{{ statistic_by_gender_e_approved }}}];

   $('#statistic-by-gender-for-approved').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Kadın/Erkek Dağılımı (Kabul Edilenler)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Gender',
                colorByPoint: true,
                data: genderStatisticForApproved
            }]
        });

});
  
</script>

<div id="statistic-by-course" style="min-width: 360px; max-width: 800px; height: 1000px; margin: 0 auto"></div>

<br>
<br>
<br>
<div class="row">
<div id="statistic-by-university" class="pull-left" style="min-width: 360px; max-width: 500px; height: 2000px; margin: 0 auto"></div>
<div id="statistic-by-university-for-approved" style="min-width: 360px; max-width: 500px; height: 2000px; margin: 0 auto"></div></div>
<br>
<br>
<br>
<div id="statistic_by_totalsize" style="min-width: 360px; max-width: 800px; height: 300px; margin: 0 auto"></div>

<br>
<br>
<br>
<div class="row">
<div id="statistic-by-gender" class="pull-left" style="min-width: 310px; height: 400px; max-width: 400px; margin: 0 auto"></div>
<div id="statistic-by-gender-for-approved" class="pull-right" style="min-width: 310px; height: 400px; max-width: 400px; margin: 0 auto"></div>
</div>

{%endblock%}
