{% extends "homepagedashboard.html" %}
{% load i18n %}
{% block content %}
    <div class="container-fluid">
        <form name="form-control" class="span4 signup-form" method="POST">{% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <b>E-posta</b>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="id_email" maxlength="128" name="email" placeholder="E-posta"
                               type="text">
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <input type="submit" name="create" class="btn btn-primary pull-right" value="Parola Sıfırla">
            </div>
        </form>
    </div>
{% endblock %}