{% extends "dashboard.html" %}
{% load i18n %}
{% block content %}
    <div class="container-fluid">
        {% if change_password_form %}
            <form name="form-control" class="span4 signup-form" method="POST">{% csrf_token %}
                {% for field in change_password_form.hidden_fields %}
                    {{ field }}
                    {% if field.errors %}
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                {% for field in change_password_form.visible_fields %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <b>{{ field.label }}</b>
                            </div>
                            <div class="col-md-6">
                                {{ field }}
                            </div>
                        </div>
                        {% if field.errors %}
                            <div class="row">
                                <div class="col-md-6 col-md-offset-2">
                                    <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="col-md-8">
                    <input type="submit" name="create" class="btn btn-primary pull-right" value="Güncelle">
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}
