[DB]
host: <db host> 
port: <db port>
database: <db name>
dbuser: <db user>
pass: <db password>

[DJANGO]
secret_key:<application_secretkey> 

[EMAIL]
from:<from address>
host:<smtp server>
port:<smtp port>
