[DB]
host: <db host> 
port: <db port>
database: <db name>
dbuser: <db user>
pass: <db password>

[DJANGO]
secret_key:<application_secretkey> 

[EMAIL]
from:<from address>
host:<smtp server>
port:<smtp port>

[SMS]
url: <api url>
usercode: <usercode>
password: <password>
msgheader: <msgheader>

[CAPTCHA]
publickey: <https://www.google.com/recaptcha account public key>
privatekey: <https://www.google.com/recaptcha account private key>
