{% extends "homepagedashboard.html" %}
{% block content %}
<div class="container-fluid">

<div class="alert alert-info">{{ note }}</div>

{% if createuserform %}
<form name="form-control" class="span4 signup-form" method="POST">{% csrf_token %}
    {% for field in createuserform.hidden_fields %}
        {{ field }}
        {% if field.errors %}
				<div class="row">
					<div class="col-md-6 col-md-offset-2">
						<span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
					</div>
				</div>
		{% endif %}
    {% endfor %}

    {% for field in createuserform.visible_fields %}
		<div class="form-group">
			<div class="row">
				<div class="col-md-2">
		      		<b>{{ field.label }}</b>
				</div>
				<div class="col-md-6">
					{{ field }}
				</div>
			</div>
			{% if field.errors %}
				<div class="row">
					<div class="col-md-6 col-md-offset-2">
						<span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
					</div>
				</div>
			{% endif %}
		</div>
    {% endfor %}
	<input type="submit" name="{{ buttonname1 }}" class="btn btn-primary" value="{{ buttonname1 }}">
	<input type="submit" name="{{ buttonname2 }}" class="btn btn-primary" value="{{ buttonname2 }}">
</form>
{%endif%}
</div>

{% endblock %}
