{% extends "dashboard.html" %}
{% load i18n %}
{% block head %}
<script type="text/javascript">
$(document).ready(function(){
{%if accomodations%}
$('.accopref').on('click', function(){
        var jsonData = {};
        var item = [];
		$("#accomodations tr[id^=acc]").each(function(){
				a_id = $(this).prop('id').split('_')[1];
				pref = $(this).find("select[id^=pref]").val();
				item.push('{"id":"'+a_id+'", "preference": "'+pref+'"}')
		});

        jsonData['accomodation'] =  "[" + item.join(',') + "]";
        jsonData['csrfmiddlewaretoken'] = getCookie('csrftoken');
        $.ajax({
            url : "/accounts/profil",
            type : "POST",
            dataType: "json",
            data : jsonData,
			success : function(json) {				
				console.log(json['url'])
                window.location.assign(json['url']);
            },
            error : function(xhr,errmsg,err) {
                alert("Lutfen her konaklama tercihi icin bir oncelik belirtiniz!");
            }
        });
    })
{%endif%}
});
</script>
{% endblock %}
{% block content %}
  <div class="container-fluid">

    <div class="alert alert-info">{{ note }}</div>
   

	{% if update_user_form %}
      {% if update_user_form.non_field_errors %}
        <div class="alert alert-danger">{{ update_user_form.non_field_errors.as_text }}</div>
      {% endif %}
	{% endif %}

    {% if form %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors.as_text }}</div>
      {% endif %}
	{% endif %} 

   <form name="form-control" class="span4 signup-form" method="POST">{% csrf_token %}
    {% if form %}


	<!-- UPDATE USER FORM -->
	{% if update_user_form %}

        {% for field in update_user_form.hidden_fields %}
          {{ field }}
          {% if field.errors %}
            <div class="row">
  		    <div class="col-md-6 col-md-offset-2">
                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
              </div>
            </div>
  		{% endif %}
        {% endfor %}
        
        {% for field in update_user_form.visible_fields %}
  		<div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <b>{{ field.label }}</b>
				{% if field.field.required %}
			        <span class="required"></span>
			    {% endif %}
              </div>
  			<div class="col-md-6">
                {{ field }}
              </div>
          </div>
  		{% if field.errors %}
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
              </div>
            </div>
          {% endif %}
  		</div>
        {% endfor %}
  
    {%endif%}
	<!--END USER UPDATE FORM-->





		
      <!-- START USERPROFILE FORM -->
        {% for field in form.hidden_fields %}
          {{ field }}
          {% if field.errors %}
            <div class="row">
  		    <div class="col-md-6 col-md-offset-2">
                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
              </div>
            </div>
  		{% endif %}
        {% endfor %}
        
        {% for field in form.visible_fields %}
  		<div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <b>{{ field.label }}</b>
				{% if field.field.required %}
			        <span class="required"></span>
			    {% endif %}
              </div>
  			<div class="col-md-6">
                {{ field }}
              </div>
          </div>
  		{% if field.errors %}
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
              </div>
            </div>
          {% endif %}
  		</div>
        {% endfor %}
	<input type="submit" name="{{ buttonname1 }}" class="btn btn-primary" value="{{ buttonname1_value }}">
	<input type="submit" name="{{ buttonname2 }}" class="btn btn-primary" value="{{ buttonname2_value }}">
  	  <!--input type="submit" name="{{ buttonname }}" class="btn btn-primary" value="{% trans "Register" %}">
  	  <input type="submit" name="cancel" class="btn btn-primary" value="{% trans "Cancel"%}"-->
      </form>
    {%endif%}

    {% if accomodations %}

	<table id="accomodations" class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>preference</th>
      </tr>
    </thead>
    <tbody>
	{%for a in accomodations%}
      <tr id="acc_{{ a.id }}">
        <td>{{a.name}}</td>
        <td>
		<select id="pref_{{a.id}}">
			<option value="---" selected>---</option>
			{% for p in preferences %}
				<option value="{{p}}">{{p}}</option>
			{% endfor %}
		</select>
		</td>
      </tr>
	{% endfor %}
    </tbody>
  </table>
      <!-- START USERPROFILE FORM -->
        {% for a_field in accomodation_form.hidden_fields %}
          {{ a_field }}
          {% if a_field.errors %}
            <div class="row">
  		    <div class="col-md-6 col-md-offset-2">
                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
              </div>
            </div>
  		{% endif %}
        {% endfor %}
        
        {% for a_field in accomodation_form.visible_fields %}
  		<div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <b>{{ a_field.label }}</b>
				{% if a_field.field.required %}
			        <span class="required"></span>
			    {% endif %}
              </div>
  			<div class="col-md-6">
                {{ a_field }}
              </div>
          </div>
  		{% if a_field.errors %}
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <span class="label label-danger">{{ a_field.label }}: {{ a_field.errors|striptags }}</span>
              </div>
            </div>
          {% endif %}
  		</div>
        {% endfor %}
  
      <!-- END USERPROFILE FORM-->
	<button type="button" class="btn btn-info accopref" style="margin-top:20px;">{%trans "Make a Selection"%}</button>
    {%endif%}

      <!-- END USERPROFILE FORM-->

  </div>

{% endblock %}
