{% extends "dashboard.html" %}
{% load i18n %}
{% block head %}
<script type="text/javascript">

function addPreference(selectedPreference){
  var container = $("#field-row-container");
  var text = $("#field-row").text();
  var idn = container.find("[data-id='container']").size() + 1;
  var id = "tercih" + idn
  var body = $(text.format(id, idn));
  body.find("button[data-id='remove']").click(function () {
    $(this).parents("[data-id='container']").remove();
  });
  container.append(body);


  var accomodations={}
  var selectOptions = "";
  $.ajax({
         url : "/accounts/getaccomodations/stu/"+$("#id_gender").val(),
         type : "GET",
         dataType: "json",
         success : function(data) {
                   accomodations=data;
                   $.each(accomodations,function(key,value){
                     selectOptions += "<option value='" + key + "'>" + value + "</option>"
                   });
                   body.find('select').append(selectOptions);
                   if(selectedPreference){
                     body.find('select').val(selectedPreference);
                   }
                   $("#remove").show();
         },
  });
}
$(document).ready(function(){
  $("#id_gender").change(function(){
     if($(".accomodations_pref_div select").length){
      $("#field-row-container").html("");
      bootbox.alert("Konaklama Tercihlerinizi Güncelleyiniz", function(){});
      addPreference();
     }
  });

  {% for accomodation_record in accomodation_records %}
      addPreference({{accomodation_record.accomodation.id}});
  {% empty %}
      {% for i in accomodations_preference_count%}
         //e.preventDefault();
         addPreference();
      {% endfor %}
  {% endfor %}
 
   $("#id_tckimlikno").parent().parent().find('div').first().append("<span class='required'></span>");
   $("#id_ykimlikno").parent().parent().find('div').first().append("<span class='required'></span>");
   $("#id_country").on('change', function(){
     if($(this).val() == 'TR'){
		$("#id_tckimlikno").parent().parent().find('span').show();
		$("#id_ykimlikno").parent().parent().find('span').hide();
     }else{
		$("#id_ykimlikno").parent().parent().find('span').show();
		$("#id_tckimlikno").parent().parent().find('span').hide();
	 }
   });
 $("#id_country").trigger('change');
});
</script>

<script id="field-row" type="text/template">
  <div data-id="container" class="row col-xs-12">
    <label for="{0}" class="col-xs-2" style="margin-top:10px;">{%trans "Preference"%} {1}:</label>
    <div class="col-xs-10" style="margin-top:10px;">
      <div>
        <select id="{0}"  class="form-control" data-id="field" name="{0}">
        </select>
      </div>
    </div>
  </div>
</script>



{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="alert alert-info">{{ note }}</div>
	{% if update_user_form %}
      {% if update_user_form.non_field_errors %}
        <div class="alert alert-danger">{{ update_user_form.non_field_errors.as_text }}</div>
      {% endif %}
	{% endif %}
    {% if form %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors.as_text }}</div>
      {% endif %}
	{% endif %} 
   <form id="userprofile" name="form-control" class="span4 signup-form" method="POST">{% csrf_token %}
    {% if form %}
    	<!-- UPDATE USER FORM -->
    	{% if update_user_form %}
            {% for field in update_user_form.hidden_fields %}
              {{ field }}
              {% if field.errors %}
                <div class="row">
      		        <div class="col-md-6 col-md-offset-2">
                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                    </div>
                </div>
      		{% endif %}
            {% endfor %}
            {% for field in update_user_form.visible_fields %}
      		    <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <b>{{ field.label }}</b>
    				        {% if field.field.required %}
    			                <span class="required"></span>
    			            {% endif %}
                        </div>
      			        <div class="col-md-6">
                            {{ field }}
                        </div>
                    </div>

      		        {% if field.errors %}
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                            </div>
                        </div>
                    {% endif %}
      		    </div>
            {% endfor %}
        {%endif%}
	    <!--END USER UPDATE FORM-->
        <!-- START USERPROFILE FORM -->
        {% for field in form.hidden_fields %}
            {{ field }}
            {% if field.errors %}
                <div class="row">
  		            <div class="col-md-6 col-md-offset-2">
                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                    </div>
                </div>
  		    {% endif %}
        {% endfor %}
        
        {% for field in form.visible_fields %}
  		    <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <b>{{ field.label }}</b>
				        {% if field.field.required %}
			                <span class="required"></span>
			            {% endif %}
                    </div>
  			        <div class="col-md-6">
                        {{ field }}
                    </div>
                </div>
                {% if field.help_text%}
                    <span class="helptext">{{field.help_text}}</span>
                {%endif%}
  		        {% if field.errors %}
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                        </div>
                    </div>
                {% endif %}
  		    </div>
        {% endfor %}
        {% if accomodations and accomodations_preference_count %}
                <div class="form-group">
                    <div class="row col-xs-8 col-md-12 col-sm-12 control-label">
    		            <strong>{% trans "Accomodation Preferences" %}</strong>
                    </div> 
                </div>
                <div class="form-group col-xs-8 accomodations_pref_div" id="field-row-container"></div>
                <br/><br/>
        {%endif%}
           <div class="form-group">
               <div class="row">
                   <div class="col-xs-10" style="margin-top:10px;">
                       <input type="submit" name="register" id="register" class="btn btn-primary" value="{% trans 'Register' %}">
                       <input type="submit" name="cancel" class="btn btn-primary" value="{% trans 'Cancel'%}">
                   </div>
               </div>
           </div>
      </form>
    {%endif%}
{% endblock %}