{% extends "dashboard.html" %}
{% load i18n %}
{% block head %}
<script type="text/javascript">


function addPreference(){
    var container = $("#field-row-container");
    var selectedAccomodations =  [];
    $("#field-row-container").find('select').each(function(){selectedAccomodations.push($(this).val());})
	if (container.find("[data-id='container']").size() == {{accomodations|length}}){
		return false;
	}
    var text = $("#field-row").text();
    var idn = container.find("[data-id='container']").size() + 1;
    var id = "tercih" + idn
    var body = $(text.format(id, idn));
    body.find("button[data-id='remove']").click(function () {
        $(this).parents("[data-id='container']").remove();
    });
    container.append(body);

    {% for accomodation in accomodations %}
        if(selectedAccomodations.indexOf("{{accomodation.id}}")!=-1){
            body.find('select').append("<option value='"+ "{{accomodation.id}}"+ "' hidden>"+"{{accomodation.name}}"+"</option>");
        }else{
            body.find('select').append("<option value='"+ "{{accomodation.id}}"+ "' >"+"{{accomodation.name}}"+"</option>");

		}
    {% endfor %}

    $("#remove").show();
    $("#sendPreference").show();
    $("select").unbind("change");
    $('select').change(function() {
        var myOpt = [];
        $("select").each(function () {
            myOpt.push($(this).val());
        });
        $("select").each(function () {
            $(this).find("option").prop('hidden', false);
            var sel = $(this);
            $.each(myOpt, function(key, value) {
                if((value != "") && (value != sel.val())) {
                    sel.find("option").filter('[value="' + value +'"]').prop('hidden', true);
                }
            });
        });
    });
    $("select").bind("change");

}

$(document).ready(function(){

  $("#add-field").click(function (e) {
    e.preventDefault();
    addPreference();
  });

  $("#remove").click(function(){
    var container = $("#field-row-container");
    var id = container.find("[data-id='container']").size();
    $("select[id='tercih"+ id +"']").parent().parent().parent().remove();
    if(id=="tercih1"){
        $("#remove").hide();
        //$("#sendPreference").hide();
    }
    $("select").trigger("change");
  });

  {% for accomodation_record in accomodation_records %}
      addPreference();
      var container = $("#field-row-container");
      container.find("[data-id='container']").last().find('select').val("{{accomodation_record.accomodation.id}}")
  {% endfor %}

});
</script>

<script id="field-row" type="text/template">
  <div data-id="container" class="row col-xs-12">
    <label for="{0}" class="col-xs-2" style="margin-top:10px;">{%trans "Preference"%} {1}:</label>
    <div class="col-xs-10" style="margin-top:10px;">
      <div>
        <select id="{0}"  class="form-control" data-id="field" name="{0}">
        </select>
      </div>
    </div>
  </div>
</script>



{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="alert alert-info">{{ note }}</div>
	{% if update_user_form %}
      {% if update_user_form.non_field_errors %}
        <div class="alert alert-danger">{{ update_user_form.non_field_errors.as_text }}</div>
      {% endif %}
	{% endif %}
    {% if form %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors.as_text }}</div>
      {% endif %}
	{% endif %} 
   <form id="userprofile" name="form-control" class="span4 signup-form" method="POST">{% csrf_token %}
    {% if form %}
    	<!-- UPDATE USER FORM -->
    	{% if update_user_form %}
            {% for field in update_user_form.hidden_fields %}
              {{ field }}
              {% if field.errors %}
                <div class="row">
      		        <div class="col-md-6 col-md-offset-2">
                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                    </div>
                </div>
      		{% endif %}
            {% endfor %}
            {% for field in update_user_form.visible_fields %}
      		    <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <b>{{ field.label }}</b>
    				        {% if field.field.required %}
    			                <span class="required"></span>
    			            {% endif %}
                        </div>
      			        <div class="col-md-6">
                            {{ field }}
                        </div>
                    </div>
      		        {% if field.errors %}
                        <div class="row">
                            <div class="col-md-6 col-md-offset-2">
                                <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                            </div>
                        </div>
                    {% endif %}
      		    </div>
            {% endfor %}
        {%endif%}
	    <!--END USER UPDATE FORM-->
        <!-- START USERPROFILE FORM -->
        {% for field in form.hidden_fields %}
            {{ field }}
            {% if field.errors %}
                <div class="row">
  		            <div class="col-md-6 col-md-offset-2">
                        <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                    </div>
                </div>
  		    {% endif %}
        {% endfor %}
        
        {% for field in form.visible_fields %}
  		    <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <b>{{ field.label }}</b>
				        {% if field.field.required %}
			                <span class="required"></span>
			            {% endif %}
                    </div>
  			        <div class="col-md-6">
                        {{ field }}
                    </div>
                </div>
  		        {% if field.errors %}
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <span class="label label-danger">{{ field.label }}: {{ field.errors|striptags }}</span>
                        </div>
                    </div>
                {% endif %}
  		    </div>
        {% endfor %}
        {% if accomodations %}
            <!--div id="accomodations_pref"-->
                <div class="form-group">
                    <div class="row col-xs-8 col-md-12 col-sm-12 control-label">
                        <label>
    		                <div class="alert alert-info">
                                {% trans "Please, click 'Add Preference' button for making multiple selection" %}
                            </div>
    	                </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row col-xs-8 col-md-12 col-sm-12 control-label">
    		            <strong>{% trans "Accomodation Preferences" %}</strong>
                    </div> 
                </div>
                <div class="form-group">
                    <div class="row col-xs-8 control-label">
                        <button class="btn btn-primary pull-right" type="button" id="add-field"><i class="fa fa-fw fa-plus"></i>
                            {% trans "Add Preference"%}
                        </button>
                    </div>
                </div>
                <div class="form-group col-xs-8" id="field-row-container"></div>
                <div class="form-group">
                    <div class="row col-xs-8 control-label">
                        <!--button class="btn btn-success pull-left" type="button" id="sendPreference" style="display: none;">
                            {% trans "Save My Preferences"%}
                        </button-->
                        <button class="btn btn-danger pull-right" type="button" id="remove" style="display: none;">
                            <i class="fa fa-fw fa-minus"></i>
                            {% trans "Remove Preference"%}
                        </button>

                    </div>
                </div>
                </div>
                    <!--div class="form-group m-b-5">
                        <div class="col-xs-8 col-xs-offset-3">
                        </div>
                    </div-->
            <!--/div--><br><br>
        {%endif%}
        <input type="submit" name="register" id="register" class="btn btn-primary" value="{% trans "Register" %}">
        <input type="submit" name="cancel" class="btn btn-primary" value="{% trans "Cancel"%}">
      </form>
    {%endif%}
{% endblock %}
