{% extends "homepagedashboard.html" %}
{% load userprofiletags %}
{% block content %}
    {% if content%}
        {% autoescape off %}
            {{content.content}}
        {% endautoescape %}
    {% endif %}
{% endblock %}

{% block dashboard %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bars"></i>  Menü <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu" style>
    {% for menu in menus %}
              <li>
                <a href="/?menu_id={{menu.id}}">{{menu.name}}</a>
              </li>
            {% endfor %}
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tachometer"></i>  İşlemler <i class="fa fa-caret-down"></i>
    </a>

    <ul class="dropdown-menu" style>
        <li>
            <a href="{% url 'listcourses' %}"><i class="fa fa-list fa-fw"></i> Mevcut Kurslar</a>
        </li>
        {% if user.is_staff %}
        <li>
            <a href="{% url 'alluser' %}"><i class="fa fa-users fa-fw"></i> Tüm Kullanıcılar</a>
        </li>
        <li>
            <a href="{% url 'alltrainers' %}"><i class="fa fa-paperclip fa-fw"></i> Tüm Eğitmenler</a>
        </li>
        <li>
            <a href="{% url 'allcoursepref' %}"><i class="fa fa-list-alt fa-fw"></i> Tüm Kurs Başvuruları</a>
        </li>
        <li>
            <a href="{% url 'statistic' %}"><i class="fa fa-pie-chart fa-fw"></i> İstatistik</a>
        </li>
        <li>
            <a href="{% url 'participationstatuses' %}"><i class="glyphicon glyphicon-check"></i>  Yoklama</a>
        </li>
        {% else %}
        {%if user.userprofile %}
        {% getoperationsmenu user.userprofile %}
        {% endif%}
        {% endif %}
        <li class="divider"></li>
    </ul>
</li>

{% endblock %}
