{% load staticfiles %}
{% load userprofiletags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'base/theme/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/lumen.bootstrap.min.css' %}" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="{% static 'base/theme/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'base/theme/dist/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'base/theme/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'base/theme/bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'base/theme/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


    <link href="{% static 'base/css/dataTables.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/buttons.dataTables.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/dataTables.tableTools.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'base/css/abkayit-main.css' %}" rel="stylesheet" type="text/css">



    <!-- jQuery -->
    <script src="{% static 'base/theme/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'base/theme/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'base/theme/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

	<script src="{% static 'base/js/bootbox.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'base/theme/bower_components/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'base/theme/bower_components/morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'base/theme/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'base/js/dataTables.min.js' %}"></script>
    <script src="{% static 'base/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'base/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/dataTables.tableTools.js' %}"></script>
    <script src="{% static 'base/js/jszip.min.js' %}"></script>
    <script src="{% static 'base/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'base/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'base/js/buttons.html5.min.js' %}"></script>

    {% block head %}{% endblock %}
  </head>

  <body>
    {% if state %}
    <div class="alert {{ alerttype }}" role="alert" style="margin-bottom: 0;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{ state }}</strong>
    </div>
    {%endif%}
    {% block nav %}{% endblock %}
    <div {% if is_paginated %}style="margin-bottom: 86px"{% endif %}>
	{% block body %}{% endblock %}
    </div>
	{% block pagination %}
    {% if is_paginated %}
        <footer class="navbar-fixed-bottom">
        <form method="get" id="pageform"></form>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="pagination pagination-lg pull-right">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page=1"><span><i class="fa fa-angle-double-left"></i></span></a>
                        </li>
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}"><span><i class="fa fa-angle-left"></i></span></a>
                        </li>
                    {% endif %}
                    <li class="disabled">
                        <span>Page <input type="number" name="page" min="1" max="{{ page_obj.paginator.num_pages }}" step="1" value="{{ page_obj.number }}" style="width: 50px; height: 16px; border: 0 solid;margin-bottom: 0; padding: 0;" form="pageform"> of {{ page_obj.paginator.num_pages }}.</span>
                    </li>
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}"><span><i class="fa fa-angle-right"></i></span></a>
                        </li>
                        <li>
                            <a href="?page={{ page_obj.paginator.num_pages }}"><span><i class="fa fa-angle-double-right"></i></span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </footer>
    {% endif %}
    {% endblock %}
  </body>
	{% block afterbody %}{% endblock %}
</html>
