{% extends "base/base.html" %}
{% load staticfiles %}
{% load userprofiletags %}
{% load i18n %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'base/js/main.js' %}"></script>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;padding-top:5px;padding-bottom: 5px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="height: 50px; padding-top: 0; padding-bottom: 0;">
                <img style="height: inherit" src="{{ request.site.logo.url }}">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-top-links navbar-left">
            {% for item in menu %}
            <li>
                <a href="/?menu_id={{item.id}}">{{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-top-links navbar-right">
            <!-- START AUTHENTICATED USER -->
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tachometer"></i> İşlemler <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'listcourses' %}"><i class="fa fa-list fa-fw"></i> Mevcut Kurslar</a>
                    </li>
                    {% if user.is_staff %}
                    <li>
                        <a href="{% url 'survey_answers' %}"><i class="fa fa-file-text-o fa-fw"></i> Anket Sonuçları</a>
                    </li>
                    <li>
                        <a href="{% url 'alluser' %}"><i class="fa fa-users fa-fw"></i> Tüm Kullanıcılar</a>
                    </li>
                    <li>
                        <a href="{% url 'alltrainers' %}"><i class="fa fa-paperclip fa-fw"></i> Tüm Eğitmenler</a>
                    </li>
                    <li>
                        <a href="{% url 'allcoursepref' %}"><i class="fa fa-list-alt fa-fw"></i> Tüm Kurs
                            Başvuruları</a>
                    </li>
                    <li>
                        <a href="{% url 'statistic' %}"><i class="fa fa-pie-chart fa-fw"></i> İstatistik</a>
                    </li>
                    <li>
                        <a href="{% url 'participationstatuses' %}"><i class="glyphicon glyphicon-check"></i> Yoklama
                            Girişi</a>
                    </li>
                    <li>
                        <a href="{% url 'allapprovedprefs' %}"><i class="glyphicon glyphicon-check"></i> Tum kabul
                            edilenler</a>
                    </li>
                    {% else %}
                        {%if user.userprofile %}
                            {% inststatistic user.userprofile %}
                            {% getoperationsmenu user.userprofile %}
                        {% endif%}
                    {% endif %}
                    <li class="divider"></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <center><img src="{{ user.userprofile.profilephoto.url }}" style="width: 50px; height:50px;"
                                     class="img-circle">{{user.first_name}} {{user.last_name}}
                        </center>
                    </li>
                    <li class="divider"></li>
                    </hr>
                    <li>
                        <a href="{% url 'createprofile'%}"><i class="fa fa-user fa-fw"></i>
                            {% trans "User Profile" %}</a>
                    </li>
                    {% if user.userprofile %}
                    {% instinfo user.userprofile %}
                    {% endif %}
                    <li>
                        <a href="{%url 'account_reset_password' %}"><i class="fa fa-key fa-fw"></i>
                            {% trans "Change Password" %}</a>
                    </li>
                    <li class="divider"></li>
                    <li class="text-center">
                        <form action="{% url 'authlogout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Log out'%}</button>
                        </form>
                    </li>
                </ul>
            </li>
            <!-- END AUTHENTICATED USER -->
            <!-- START ANONYMOUS USER -->
            {% else %}
            <div class="text-center">
                <a href="{% url 'authlogin' %}" class="btn btn-primary btn-lg">{% trans "Login" %}</a>
                <a href="{% url 'account_reset_password_key' %}" class="btn btn-warning btn-lg">
                    {% trans "Forgot Password" %}</a>
            </div>
            {% endif %}
            <!-- END ANONYMOUS USER -->
        </ul>
    </div>
</nav>
{% endblock %}
{% block body %}
    <!-- START MENU CONTENT -->
    <div id="content" class="body-content">
      <div id="page-wrapper" style="margin-left: 0!important;">
        {% block content %}
            {% if content%}
                {% autoescape off %}
                    {{content.content}}
                {% endautoescape %}
            {% endif %}
        {% endblock %}
      </div>
    </div>
    <!-- END MENU CONTENT -->
{% endblock %}
