Merhabalar,<br><br>

Akademik Bilisim 2016 oncesi kurslara kayidiniz yapilmistir. Hayirli olsun.<br>
Elimizden gelen en fazla sayida kursiyer alacagiz. Size zaman zaman <br>
ab.org.tr den mesajlar gelecektir. Bunlarin bazilari bilgilendirme, <br>
bazilari da sizin tarafinizdan yapilmasi istenilen işler olacaktir. <br>
Bu bir mulakat olabilir, bir sinav olabilir. O nedenle,<br>
1. mesajlarinizi her gun kontrol ediniz. Kayit oldugunuz adresi unutmayin.<br>
2. ab.org.tr'nin spam listesine dusmesine izin vermeyin, spama dusen mailleri ara ara  kontrol ediniz<br>
3. Kurs secimlerinizi degistirebilirsiniz.<br>
4. Linux101-linux'a giris dersinde  cok sayida sube acacagiz. <br>
Gonlumuzde bu kursa olan tum talebi karsilamak var. Aklinizda bulunsun<br>
5. KYK yurdunda kalanlar, Yurta kaldıginin belgesini yaniaa alsin. <br>
Bunu o yurttaki yonetime sorarak yapin. KYK yurdunda kalanlar, sayet <br>
Aydın'da KYK yurduna  yerlestirilirse ucret odemeyecekler. <br>
Halen KYK yurdunda kalmayanlar, KYK yurdunda kalırlarsa gunluk 10TL civarı <br>
odeyecekler. Ozel Yurtlar daha pahalı, ama onlarıda kYK'ya yakin hale <br>
getirmek icin calisiyoruz.<br>
6. 30 Ocakta ADU'da gorusmek dilegiyle<br>
Saygilar<br>
<br><br>

AB'16 Yurutme Kurulu Adina<br>
Mustafa Akgul


