/*.login-form {
	background-color: #FAFAFA;
	padding: 15px 45px 45px;
}
.main-topbar {
	background-color: #EEEEEE;
	height: 60px;	
}
*/
.form-group .required:after {
  content:"*";
  color:red;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.clickableRow {
  cursor: pointer;
}

.checked-trainee-for-another-course{
  background-color: #FFDDDC;
}

.checked-trainee-course{
  background-color: #9FFFAA;
}

.avaliable-trainee{
  background-color: #DEDEDE;
}
